.button {
  border: none;
  border-radius: 20px;
  color: var(--white);
  padding: 10px 30px;
  font-family: var(--main_font);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--black);
  margin: 0 auto;
}

.button:focus {
  outline: none;
}
