@import "consts.css";


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
}

.form{
  width: 85%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form__fields{
  display: flex;
  width: 100%;
}

.form__input__name {
  background-color: white;
  color: var(--black);
  width: 80%;
  margin-right: 20px;
}

.form__input {
 outline: none;
}

.form__input__group {
  background-color: var(--second_color);
  color: var(--white);
  width: 230px;
  padding: 1px 1px;
  text-align-last:center;
  appearance: none;
  -webkit-appearance: none;
}

.form__input__group::-ms-expand {
  display: none;
}

.form__input__btn {
  background-color: var(--black);
  color: var(--white);
  margin: 20px auto;
  padding: 8px auto;
}

.box {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white_with_alpha);
  padding-bottom: 10px;
}

.box__zone{
  width: 100%;
  color: var(--black);
  text-align: center;
}

.box__zone__name {
  font-weight: 800;
  margin-bottom: 1%;
}

.box__zone__groups * {
  text-decoration: none;
  color: var(--black);
  display: flex;
  justify-content: center;
  padding: 5px;
}

.box__section__result {
  display: grid;
  grid-template-columns: 33% 33% 13% 15%;
  grid-gap: 2%;
  font-size: .8em;
  margin-bottom: .8em;
}

.box__section > div:first-child {
  font-weight: bold;
}

a.form__err {
  visibility: hidden;
  font-weight: bold;
  padding-top: 4px;
  color: red;
  width: 100%;
  text-align: center;
}
