@import "consts.css";

html{
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: var(--header_height);
  color: white;
  font-family: var(--main_font)
}

.container {
  min-height: 100vh;
  width: 100%;
  margin-bottom: var(--footer_height);
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.content{
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 5% 10%;
  background-color: var(--main_color_with_alfa);
}

.content__box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__box p{
  font-size: 2em;
  margin: 20px;
}

.content__box p:first-child{
  font-weight: bold;
  font-size: 3em;
}





