@import "consts.css";


.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
}

.box{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white_with_alpha);
  padding: 1% 0;
}

.box__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.box__nav__button{
  background-color: var(--second_color);
  font-size: 0.7em;
}

.box__button{
  padding: 8px 30px;
}

.box__save__button{
  padding: 8px 30px;
  background-color: var(--second_color);
}

.box__trail{
  width: 100%;  
  margin-bottom: 1%;
  background-color: var(--white);
  text-align: center;
}

.box__trail__grid{
  width: 95%;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr;
  color: var(--black);
}

.box__trail__row {
  display: grid;
  grid-template-columns: 47% 25% 22% 3% 3%;
  grid-column: 1 / 5;
  font-size: .8em;
  margin: 4px 0;
}

.box__trail__row__empty {
    height: 12px !important;
}

.box__trail__row:nth-child(2){
  padding-top: 10px;
}

.box__trail__row--header {
  font-size: .9em;
  font-weight: bold;
}

.box__trail__row > div:first-child {
  justify-self: start;
  text-align: left;
}

.box__trail__row__delete_btn{
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .box__trail__row__delete_btn:focus{
    outline: none;
  }

#cross {
  background: red;
  height: 16px;
  width: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-100%) rotate(45deg);
}

 #cross:after {
  background: red;
  content: "";
  height: 16px;
  width: 4px;
  position: absolute;
  transform: translateX(-50%) rotate(90deg)
}  

.sum{
  font-size: 1em;
  font-weight: bold;
  justify-self: left;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  padding-right: 1px;
}

.box__edit{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: var(--black);
  }

