{% extends "index.html.twig" %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/index.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/createRoute.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	{{ include('header.html.twig') }}
	<div class="container">
		<div class="content">
			<h3 class="content__title">Utwórz trasę</h3>
			<div class="box">
				<div class="box__nav">
					<button class="button box__nav__button">
						<a class="link" href='./findSection'>Dodaj odcinek z bazy danych</a>
					</button>
					<button class="button box__nav__button">
						<a class="link" href='./createOwnSection'>Dodaj własny odcinek</a>
					</button>
				</div>
				<div class="box__route">
					{% if routes %}
						<div class="box__route__grid">
							<div class="box__route__row box__route__row--header">
								<div>19.02.2019r</div>
								<div>Punkty</div>
								<div>Grupa górska</div>
							</div>
							{% for route in routes %}
								<div class="box__route__row">
									<div>19.02.2019r</div>
									<div>Punkty</div>
									<div>Grupa górska</div>
									<button class="box__route__row__delete_btn">
										<div id="cross"></div>
									</button>
								</div>
							{% endfor %}
							<p class="box__route__grid__sum">Suma punktów:</p>
						</div>
					{% else %}
						<p class="box__route__content">Ups.. wygląda na to że nie dodałeś jeszcze żadnego odcinka</p>
					{% endif %}
				</div>
				<input type="button" class=" button box__button" value="Powrót">
			</div>
		</div>
	</div>
	{{ include('footer.html.twig') }}
{% endblock %}
