{% block stylesheets %}
	<link href="{{ asset('../public/assets/css/footer.css') }}" rel="stylesheet">
{% endblock %}

<footer class="footer">
	<div class="footer__text">
		<p>Authors:</p>
		<div class="footer__text__authors">
			<h5>Szymon Gąsior</h5>
			<h5>Michał Wiczk</h5>
		</div>
	</div>
	<p>&copy; All rights reserved</p>
</footer>
