{% block stylesheets %}
<link href="{{ asset('../public/assets/css/header.css') }}" rel="stylesheet">

{% endblock %}

<header class="header">
	<div class="header__title">
		<h2 class="header__title__text">Górska Odznaka Turystyczna PTTK</h2>
	</div>
	<nav class="header__nav">
		<ul class="header__nav__list">
			<li class="header__nav__list__element">Utwórz trasę</li>
			<li class="header__nav__list__element">Przeglądaj odcinki</li>
			<li class="header__nav__list__element">Zaloguj się</li>
		</ul>
	</nav>
</header>
