<!DOCTYPE html>
<html lang="pl-PL">
	<meta charset="UTF-8">
	<meta charset="UTF-8">
	<meta name="description" content="GOT PTTK (Górska Odznaka Turystyczna Polskiego Towarzystwa Tusrytycznp-Krajoznawczego) application for tourists">
	<meta name="keywords" content="tour, mountains, trekking">
	<meta name="author" content="Michał Wiczk, Szymon Gąsior">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		{% block title %}GOT PTTK
		{% endblock %}
	</title>
	{% block stylesheets %}
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
		<link href="{{ asset('../public/assets/css/index.css') }}" rel="stylesheet">
	{% endblock %}
</html><body>
{% block body %}
{% if logged %}
	{{ include('headerTourist.html.twig') }}
{% else %}
	{{ include('header.html.twig') }}
{% endif %}
	<div
		class="container">
		{# here we can put some ours views/twig templates #}
		<div class="content">
			<div class="content__box">
				<p>Aplikacja dla miłośników gór</p>
				<p>Zapraszamy :)</p>
			</div>
		</div>
	</div>
	{{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}{% endblock %}</body></html>
