<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="UTF-8">
		<meta name="description" content="GOT PTTK (Górska Odznaka Turystyczna Polskiego Towarzystwa Tusrytycznp-Krajoznawczego) application for tourists">
		<meta name="keywords" content="tour, mountains, trekking">
		<meta name="author" content="Michał Wiczk, Szymon Gąsior">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}GOT PTTK
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
			<link href="{{ asset('../public/assets/css/index.css') }}" rel="stylesheet">
			<link href="{{ asset('../public/assets/css/login.css') }}" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{{ include('header.html.twig') }}
			<div class="container">
				<div class="content">
					<h3 class="content__title">Zaloguj się</h3>
					<div class="box">
						<div class="log__form">
                            <form method="post">
                                Podaj login<br>
                                <input type="email" name="email" required/><br>
                                Podaj hasło<br>
                                <input type="password" name="password" required/><br>
                                <button type="submit" class="log__button">Zaloguj</button>
                            </form>
                            <a href='resetPassword'> Zapomniałem hasła </a>
						</div>
						<div class="box__route"></div>
						<input type="button" class="box__button" value="Powrot">
					</div>
				</div>
			</div>
			{{ include('footer.html.twig') }}
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
